.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: red;
    color: #fff;
    z-index: 5;
    
}

.navbar-wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-info{
 display: flex;
 align-items: center;
}
.itemContainer {
    margin:0 30px;
    display: flex;
    align-items: center;
}
.btn{
    width: 32px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transform-origin: left;
    transition: all 0.3s ease;
}
i {
    margin-right: 10px;
}

.toggle.active span:first-child {
    background-color: #fff;
    transform: rotate(45deg);
}
.toggle.active span:nth-child(2) {
    opacity: 0;
}
.toggle.active span:last-child {
    background-color: #fff;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .itemContainer {
        display: none;
    }
    .navbar {
        padding: 0 10px 0 0 ;
    }

}